html {
   
}



#map {
    position:relative;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid black;
}

/*.customControl {
   
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   
    
}*/

.map_control {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #333333;
    opacity: 0.7;
    font: 12px Verdana, MS Sans Serif, Arial Black;
    color: white;
    z-index: 1000;
    top: 20px;
    right: 20px;
    padding: 10px;
}


    