
@{
    ViewBag.Title = "Monitoring";
}

@section Styles {
    @*<link rel="stylesheet" href="~/CSS/main.css" type="text/css" />*@
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
}

@*@section Styles {
        <link href="@Url.Content("~/Content/Map/main.css")" rel="stylesheet" type="text/css" />
    }*@

<h2>Monitoring</h2>

<div class=" btn btn-success ">
    Hello
</div>

