
@{
    ViewBag.Title = "DroneControl";
}

<h2>DroneControl</h2>

<div class="main">
    <div id="idEnterBlock">
        <br/>
     
        <form action="~/Chat/UpdateId" method="get">
            <input id="idField" type="number" name="id"/>
            <input class="btn btn-success" id="submitIdBtn" type="submit" value="Отправить" />
        </form>       
    </div>


</div>
<div id="ids"></div>

@*<script src="~/Scripts/utilDrone.js"></script>*@