@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>Следим за дронами</h1>
        <p class="lead">Тут главная страница </p>
        @Html.ActionLink("Перейти к карте", "Index", "Monitoring", new object { }, new { @class = "btn btn-success btn-lg" })

    </div>


