

@{
        ViewBag.Title = "Home Page";
    }

<div class=" custom container  body-content">
 
    <div class="mt-5 p-5 bg-dark">
        <h1 class="h1 mb-3 text-light">Мониторинг роев БПЛА</h1>
        @Html.ActionLink("Перейти к карте", "Ticker", "Monitoring", new object { }, new { @class = "btn btn-success btn-lg" })
    </div>
    

    @if (ViewBag.id != null)
    {

        <h2> Id: @ViewBag.id</h2>
    }

</div>

